html
{
	--dark-purple               : hsl(273 85% 13%);
	--davys-grey                : hsl(271 12% 34%);
	--eucalyptus                : hsl(150 100% 63%);
	--ghost-white               : hsl(276 100% 99%);
	--white                     : hsl(0 0% 100%);

	box-sizing                  : border-box;
	line-height                 : 1.15;
	-webkit-text-size-adjust    : 100%;
}

*
{
	margin                      : 0;
	padding                     : 0;
	border                      : 0;
	outline                     : 0;
	box-sizing                  : inherit;
}

@font-face
{
	font-family                 : "Fraunces 144pt";
	src                         : url("../fonts/subset-Fraunces144pt-SemiBold.woff2") format("woff2");
	font-weight                 : 600;
	font-style                  : normal;
	font-display                : swap;
}

@font-face
{
	font-family                 : "Manrope";
	src                         : url("../fonts/subset-Manrope-Regular.woff2") format("woff2");
	font-weight                 : normal;
	font-style                  : normal;
	font-display                : swap;
}

abbr[title]
{
	border-bottom               : none;
	text-decoration             : underline;
	text-decoration             : underline dotted;
}

b,
strong
{
	font-weight                 : bolder;
}

button,
input,
optgroup,
select,
textarea
{
	margin                      : 0;
	font-family                 : inherit;
	font-size                   : 100%;
	line-height                 : 1.15;
}

button,
input
{
	overflow                    : visible;
}

button,
select
{
	text-transform              : none;
}

button,
[type="button"],
[type="reset"],
[type="submit"]
{
	-webkit-appearance          : button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner
{
	padding                     : 0;
	border-style                : none;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring
{
	outline                     : 1px dotted ButtonText;
}

code,
kbd,
samp
{
	font-family                 : monospace, monospace;
	font-size                   : 1em;
}

details
{
	display                     : block;
}

img
{
	display                     : block;
	max-inline-size             : 100%;
	border-style                : none;
}

legend
{
	display                     : table;
	box-sizing                  : border-box;
	max-width                   : 100%;
	padding                     : 0;
	color                       : inherit;
	white-space                 : normal;
}

main
{
	display                     : block;
}

progress
{
	vertical-align              : baseline;
}

pre
{
	font-family                 : monospace, monospace;
	font-size                   : 1em;
}

small
{
	font-size                   : 80%;
}

sub,
sup
{
	font-size                   : 75%;
	line-height                 : 0;
	position                    : relative;
	vertical-align              : baseline;
}

sub
{
	bottom                      : -0.25em;
}

sup
{
	top                         : -0.5em;
}

hr
{
	box-sizing                  : content-box;
	height                      : 0;
	overflow                    : visible;
}

::-webkit-file-upload-button
{
	-webkit-appearance          : button;
	font                        : inherit;
}

summary
{
	display                     : list-item;
}

template
{
	display                     : none;
}

textarea
{
	overflow                    : auto;
}

[hidden]
{
	display                     : none;
}

[type="checkbox"],
[type="radio"]
{
	box-sizing                  : border-box;
	padding                     : 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button
{
	height                      : auto;
}

[type="search"]
{
	-webkit-appearance          : textfield;
	outline-offset              : -2px;
}

[type="search"]::-webkit-search-decoration
{
	-webkit-appearance          : none;
}

body
{
	font-family                 : Manrope, sans-serif;
	/*                                  16px                       18px    */
	font-size                   : clamp(1rem, 0.956rem + 0.1878vw, 1.125rem);
	line-height                 : 1.77;
	color                       : var(--dark-purple);
	accent-color                : var(--eucalyptus);
}

::selection
{
	color                       : var(--dark-purple);
	background-color            : var(--eucalyptus);
}

a,
span
{
	--color                     : var(--eucalyptus);
}

a
{
	color                       : inherit;
	background-color            : transparent;
	text-decoration             : inherit;
}

button
{
	font-weight                 : 700;
	/*                            13px */
	line-height                 : 0.7222;
	/*                            32px*/
	padding-inline              : 2rem;
	/*                            24px */
	padding-block               : 1.5rem;
	color                       : var(--dark-purple);
	background-color            : var(--eucalyptus);
	transition                  : all 100ms ease-out;

	&::before,
	&::after
	{
		content                 : "";
		display                 : table;
	}

	&::before
	{
		margin-block-end        : -0.023em;
	}

	&::after
	{
		margin-block-start      : 0.023em;
	}

	&:hover
	{
		color                   : var(--eucalyptus);
		background-color        : var(--dark-purple);
		outline                 : 3px solid;
	}

	&:active
	{
		outline                 : 5px solid;
	}
}

h1, h2, h3,
.heading-l, .heading-m, .heading-s
{
	font-family                 : "Fraunces 144pt", serif;
	font-weight                 : 600;
}

h1, .heading-l
{
	/*                                  50px                            80px*/
	font-size                   : clamp(3.125rem, 2.4648rem + 2.8169vw, 5rem);
	line-height                 : 1;
}

h2, .heading-m
{
	/*                                  32px                        56px  */
	font-size                   : clamp(2rem, 1.4718rem + 2.2535vw, 3.5rem);
	/*                            37px*/
	line-height                 : 1.143;
}

h3, .heading-s
{
	/*                                  28px                          32px*/
	font-size                   : clamp(1.75rem, 1.662rem + 0.3756vw, 2rem);
	/*                            35px*/
	line-height                 : 1.25;
}

header,
footer,
.container
{
	/*                                  16px                         165px     */
	padding-inline              : clamp(1rem, -2.279rem + 13.9906vw, 10.3125rem);
}


/* Header  ------------------------------------------------------------------- */

header
{
	position                    : relative;
	/*                                  32px                        56px  */
	padding-block-start         : clamp(2rem, 1.4718rem + 2.2535vw, 3.5rem);
	/*                                  139px                             258px    */
	padding-block-end           : clamp(8.6875rem, 6.0687rem + 11.1737vw, 16.125rem);
	color                       : var(--white);
	background-color            : var(--dark-purple);
}

header a
{
	font-weight                 : 700;
}

header > div:nth-child(2)
{
	/*                                  343px                               635px     */
	max-inline-size             : clamp(21.4375rem, 15.0114rem + 27.4178vw, 39.6875rem);
	/*                                  55px                              64px*/
	margin-block-start          : clamp(3.4375rem, 4.1981rem + -0.8451vw, 4rem);
}

header button
{
	/*                                  37px                             40px  */
	margin-block-start          : clamp(2.3125rem, 2.566rem + -0.2817vw, 2.5rem);
}

li::before
{
	content                     : counter(count, decimal);
	display                     : inline-block;
	inline-size                 : var(--size);
}

li > h2
{
	/*                                  24px                          56px  */
	margin-block-start          : clamp(1.5rem, 0.7958rem + 3.0047vw, 3.5rem);
}

li > p
{
	/*                                  16px                        28px   */
	margin-block-start          : clamp(1rem, 0.7359rem + 1.1268vw, 1.75rem);
}


/* Sections ------------------------------------------------------------------ */

main > div
{
	position                    : relative;
	overflow                    : hidden;

	&::before
	{
		content                 : "";

		display                 : block;
		aspect-ratio            : 1;
		width                   : 525vw; /* Gotten from a mathematical formula */
		position                : absolute;
		top                     : -520.18vw;
		left                    : 50%;
		transform               : translateX(-50%);

		background-color        : var(--color);

		border-radius           : 50%;
	}
}


/* Second Section ------------------------------------------------------------ */

main > div:first-child
{
	--color                     : var(--dark-purple);
	/*                                  173px                              323px     */
	padding-block-start         : clamp(10.8125rem, 7.5114rem + 14.0845vw, 20.1875rem);
	/*                                  72px                         101px     */
	padding-block-end           : clamp(4.5rem, 3.8618rem + 2.723vw, 6.3125rem);
	background-color            : var(--ghost-white);
}

[alt="A cellphone"]
{
	position                    : absolute;
	left                        : 50%;
	/*                                                  50px                             64px */
	transform                   : translate(-50%, clamp(3.125rem, 4.3081rem + -1.3146vw, 4rem));
	/*                                  320px                          765px     */
	inline-size                 : clamp(20rem, 10.1629rem + 41.9718vw, 47.9375rem);
	z-index                     : 1;
}

main > div:nth-child(2)
{
	--color                     : var(--ghost-white);
}

ul
{
	text-align                  : center;
	counter-reset               : count 0;
}

li
{
	list-style                  : none;
	counter-increment           : count 1;
}

li::before
{
	border                      : 1px solid;
	border-radius               : 50%;
}

/*                            768px                  60.25px*/
@media screen and (min-width: 48rem) and (max-width: 964px)
{
	ul
	{
		text-align              : left;
	}

	li
	{
		position                : relative;
		padding-inline-start    : 5rem;

		> h2
		{
			margin-block-start  : 0 !important;
		}
	}

	li::before
	{
		position                : absolute;
		top                     : 50%;
		left                    : 0;
		transform               : translateY(-50%);
		text-align              : center;
	}
}

li::before
{
	/*                                  48px                        56px  */
	--size                      : clamp(3rem, 2.8239rem + 0.7512vw, 3.5rem);

	font-family                 : "Fraunces 144pt", serif;
	/*                                  20px                          24px  */
	font-size                   : clamp(1.25rem, 1.162rem + 0.3756vw, 1.5rem);
	line-height                 : var(--size);
}


/* Third Section ------------------------------------------------------------- */

main > div > div
{
	position                    : relative;
	/*                                  586px                              603px     */
	min-block-size              : clamp(36.625rem, 38.0623rem + -1.5992vw, 37.6875rem);
	/*                           1114px  */
	max-inline-size             : 69.625rem;
	margin-inline               : auto;
	/*                                  118px                           178px    */
	margin-block-start          : clamp(7.375rem, 6.0521rem + 5.6444vw, 11.125rem);
}

main > div:nth-child(2)
{
	/*                                  122px                            149px    */
	padding-block-end           : clamp(7.625rem, 9.9067rem + -2.5352vw, 9.3125rem);
}


/* CTA ----------------------------------------------------------------------- */

[alt="Louis Graham's portrait"]
{
	/*                                 281px                               477px     */
	inline-size                 : clamp(17.5625rem, 13.2491rem + 18.4038vw, 29.8125rem);
	margin-inline               : auto;
}

/*                            940px  */
@media screen and (min-width: 58.75rem)
{
	[alt="Louis Graham's portrait"]
	{
		margin-inline           : 0;
	}
}

main > div > div > div
{
	inline-size                 : fit-content;
	/*                                  32px                        64px*/
	padding                     : clamp(2rem, 1.2958rem + 3.0047vw, 4rem);
	position                    : absolute;
	bottom                      : 0;
	right                       : 0;
	color                       : var(--white);
	background-color            : var(--dark-purple);

	> * + *
	{
		/*                              24px                          32px*/
		margin-block-start      : clamp(1.5rem, 1.3239rem + 0.7512vw, 2rem);
	}

	p
	{
		max-inline-size         : 55ch;
	}
}


/* Footer -------------------------------------------------------------------- */

footer
{
	/*                                  129px                           139px    */
	padding-block-end           : clamp(8.0625rem, 7.842rem + 0.9407vw, 8.6875rem);

	> div
	{
		max-inline-size         : fit-content;
		margin-inline           : auto;

		&:nth-child(2)
		{
			/*                    60px  */
			margin-block-start  : 3.75rem;
		}

		> * + *
		{
			/*                    28px  */
			margin-inline-start : 1.75rem;
		}
	}
}

.workit-logo
{
	/*                            96px*/
	inline-size                 : 6rem;
	/*                            25px   */
	block-size                  : 1.5625rem;
	background-image            : url(../img/logo-dark.svg);
	background-size             : cover;
}

.facebook-logo
{
	background-image            : url(../img/icon-facebook.svg);
	background-size             : cover;
}

.twitter-logo
{
	/*                            23px    */
	inline-size                 : 1.4375rem;
	/*                            20px  */
	block-size                  : 1.25rem;
	background-image            : url(../img/icon-twitter.svg);
	background-size             : cover;
}

.instagram-logo
{
	background-image            : url(../img/icon-instagram.svg);
	background-size             : cover;
}

.icon
{
	display                     : inline-block;
	/*                            20px  */
	min-width                   : 1.25rem;
	aspect-ratio                : 1;
}


/* Underline ----------------------------------------------------------------- */

.underline
{
	display                     : inline-block;
	position                    : relative;
}

.underline::after
{
	content                     : "";
	display                     : inline-block;
	height                      : 0;
	width                       : 100%;
	position                    : absolute;
	left                        : 0;
	bottom                      : -2px;
	border-top                  : 3px solid var(--color, black);
	transition                  : all 100ms ease-out;
}

a.underline:active
{
	color                       : var(--color);
}

a.underline:active::after
{
	transition                  : all 50ms ease-out;
}

a.underline:hover::after
{
	width                       : 70%;
	left                        : 50%;
	transform                   : translateX(-50%);
}

a.underline::after,
a.underline:active::after
{
	width                       : 100%;
}


/* Utilities ----------------------------------------------------------------- */

.center
{
	margin-inline               : auto;
}

.space-between,
.switcher
{
	display                     : flex;
}

.space-between
{
	justify-content             : space-between;
	inline-size                 : 100%;
}

.switcher
{
	/*                            768px*/
	--threshold                 : 48rem;

	flex-wrap                   : wrap;
	/*                                       30px   */
	gap                         : var(--gap, 1.875rem);
}

.switcher > *
{
	flex-grow                   : 1;
	flex-basis                  : calc((var(--threshold) - 100%) * 999)
}

.text-align\:center
{
	text-align                  : center;
}

/* Decorative thingies ------------------------------------------------------- */

@media screen and (min-width: 630px)
{
	header
	{
		background-image        : url(../img/bg-pattern-1.svg), url(../img/bg-pattern-2.svg);
		background-repeat       : no-repeat;
		background-position     : left clamp(-14.0625rem, -20.4196rem + 13.244vw, -8.5rem) top clamp(4.4375rem, -0.4196rem + 10.119vw, 8.6875rem), right clamp(-6.25rem, -9.8214rem + 7.4405vw, -3.125rem) top clamp(15.625rem, 9.9107rem + 11.9048vw, 20.625rem);
	}

	main > div > div > div::before
	{
		content                 : "";
		display                 : block;
		/*                        221px    */
		width                   : 13.8125rem;
		/*                        212px  */
		height                  : 13.25rem;
		position                : absolute;
		right                   : 10%;
		bottom                  : -15%;
		background-color        : none;
		background-image        : url(../img/bg-pattern-3.svg);
		pointer-events          : none;
	}
}


/* --------------------------------------------------------------------------- */