html
{
	line-height              : 1.15;
	-webkit-text-size-adjust : 100%;
	box-sizing               : border-box;
}

*
{
	margin                   : 0;
	padding                  : 0;
	border                   : 0;
	outline                  : 0;
	box-sizing               : inherit;
}

body
{
	padding-inline           : clamp(1rem, -2.279rem + 13.9906vw, 10.3125rem);
	font-family              : Manrope, sans-serif;
	font-size                : 1.125rem;
	line-height              : 1.778;
}

a
{
	background-color         : transparent;
}

abbr[title]
{
	border-bottom            : none;
	text-decoration          : underline;
	text-decoration          : underline dotted;
}

b,
strong
{
	font-weight              : bolder;
}

body
{
	padding-block-start      : clamp(2rem, 1.4718rem + 2.2535vw, 3.5rem);
}

button,
input,
optgroup,
select,
textarea
{
	font-family              : inherit;
	font-size                : 100%;
	line-height              : 1.15;
	margin                   : 0;
}

button,
[type="button"],
[type="reset"],
[type="submit"]
{
	-webkit-appearance       : button;
}

button,
input
{
	overflow                 : visible;
}

button,
select
{
	text-transform           : none;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner
{
	border-style             : none;
	padding                  : 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring
{
	outline                  : 1px dotted ButtonText;
}

header button
{
	margin-block-start       : clamp(2.3125rem, 2.566rem + -0.2817vw, 2.5rem);
}

button
{
	padding-inline           : 2rem;
	padding-block            : 1.5rem;
	line-height              : 0.7222;
}

button::before,
button::after
{
	content                  : "";
	display                  : table;
}

button::before
{
	margin-block-end         : -0.023em;
}

button::after
{
	margin-block-start       : 0.023em;
}

code,
kbd,
samp
{
	font-family              : monospace, monospace;
	font-size                : 1em;
}

details
{
	display                  : block;
}

main > div > div
{
	max-inline-size          : fit-content;
	padding                  : clamp(2rem, 1.2958rem + 3.0047vw, 4rem);
	border                   : 3px solid; /* NOTE: Temp */

	> * + *
	{
		margin-block-start   : clamp(1.5rem, 1.3239rem + 0.7512vw, 2rem);
	}

	p
	{
		max-inline-size      : 55ch;
	}
}

footer
{
	margin-block-start       : clamp(4.625rem, 4.493rem + 0.5634vw, 5rem);
	padding-block-end        : clamp(4rem, 2.9877rem + 4.3192vw, 6.875rem);
}

h1, h2, h3,
.heading-l, .heading-m, .heading-s
{
	font-family              : "Fraunces 144pt", serif;
	font-weight              : 600;
}

h1, .heading-l
{
	font-size                : clamp(3.125rem, 2.4648rem + 2.8169vw, 5rem);
	line-height              : 1;
}

h2, .heading-m
{
	font-size                : clamp(2rem, 1.4718rem + 2.2535vw, 3.5rem);
	line-height              : 1.143;
}

h3, .heading-s
{
	font-size                : clamp(1.75rem, 1.662rem + 0.3756vw, 2rem);
	line-height              : 1.25;
}

header > div:nth-child(2)
{
	max-inline-size          : clamp(21.4375rem, 15.0114rem + 27.4178vw, 39.6875rem);
	margin-block-start       : clamp(3.4375rem, 4.1981rem + -0.8451vw, 4rem);
}

[alt="A cellphone"]
{
	inline-size              : clamp(20rem, 10.1629rem + 41.9718vw, 47.9375rem);
	margin-block-start       : clamp(3.125rem, 4.3081rem + -1.3146vw, 4rem);
}

[alt="Louis Graham's portrait"]
{
	inline-size          : clamp(17.5625rem, 13.2491rem + 18.4038vw, 29.8125rem);
}

hr
{
	box-sizing               : content-box;
	height                   : 0;
	overflow                 : visible;
}

img
{
	display                  : block;
	max-inline-size          : 100%;
	border-style             : none;
}

legend
{
	box-sizing               : border-box;
	color                    : inherit;
	display                  : table;
	max-width                : 100%;
	padding                  : 0;
	white-space              : normal;
}

li
{
	list-style               : none;
}

ul
{
	counter-reset            : count 0;
	padding-block-end        : clamp(4.5rem, 2.3213rem + 9.2958vw, 10.6875rem);
}

ul + div
{
	display                  : grid;
	grid-template-rows       : 173px auto;
	grid-template-columns    : 382px 94px auto;
	max-inline-size          : fit-content;
	margin-block-start       : clamp(6.25rem, 6.0299rem + 0.939vw, 6.875rem);

	> img
	{
		grid-column          : 1 / 3;
	}

	> div
	{
		grid-row             : 2;
		grid-column          : 2 / -1;
	}
}

li
{
	counter-increment        : count 1;
}

li > h2
{
	margin-block-start       : clamp(1.5rem, 0.7958rem + 3.0047vw, 3.5rem);
}

li > p
{
	margin-block-start       : clamp(1rem, 0.7359rem + 1.1268vw, 1.75rem);
}

li::before
{
	--size                   : clamp(3rem, 2.8239rem + 0.7512vw, 3.5rem);

	content                  : counter(count, decimal);
	display                  : inline-block;
	inline-size              : var(--size);
	font-family              : "Fraunces 144pt", serif;
	font-size                : clamp(1.25rem, 1.162rem + 0.3756vw, 1.5rem);
	line-height              : var(--size);
	border                   : 1px solid;
	border-radius            : 50%;
}

main
{
	display                  : block;
	margin-block-start       : clamp(4rem, 3.4278rem + 2.4413vw, 5.625rem);
}

pre
{
	font-family              : monospace, monospace;
	font-size                : 1em;
}

progress
{
	vertical-align           : baseline;
}

small
{
	font-size                : 80%;
}

sub,
sup
{
	font-size                : 75%;
	line-height              : 0;
	position                 : relative;
	vertical-align           : baseline;
}

sub
{
	bottom                   : -0.25em;
}

sup
{
	top                      : -0.5em;
}

::-webkit-file-upload-button
{
	-webkit-appearance       : button;
	font                     : inherit;
}

summary
{
	display                  : list-item;
}

template
{
	display                  : none;
}

textarea
{
	overflow                 : auto;
}

[hidden]
{
	display                  : none;
}

[type="checkbox"],
[type="radio"]
{
	box-sizing               : border-box;
	padding                  : 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button
{
	height                   : auto;
}

[type="search"]
{
	-webkit-appearance       : textfield;
	outline-offset           : -2px;
}

[type="search"]::-webkit-search-decoration
{
	-webkit-appearance       : none;
}

/* --------------------------------------------------------------------------- */

.center
{
	margin-inline            : auto;
}

.space-between,
.switcher
{
	display                  : flex;
}

.space-between
{
	justify-content          : space-between;
	inline-size              : 100%;
}

.switcher
{
	--threshold              : 48rem;

	flex-wrap                : wrap;
	gap                      : 1.875rem;
}

.switcher > *
{
	flex-grow                : 1;
	flex-basis               : calc((var(--threshold) - 100%) * 999)
}

.text-align\:center
{
	text-align               : center;
}

/* --------------------------------------------------------------------------- */